.titleShop {
  margin-top: 100px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 40px;
  font-weight: bolder;
}

.products {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}

.product {
  width: 31vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product img {
  width: 100%;
  height: auto;
}

.product-description {
  margin-top: 10px;
  text-align: center;
  font-size: large;
}

.product:hover {
  cursor: pointer;
}

.addToCartBtn {
  background-color: transparent;
  border: 2px solid rgb(19, 19, 19);
  min-width: 100px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 15px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.addToCartBtn:hover {
  background-color: rgb(247, 245, 244);
  color: black;
  cursor: pointer;
}

@media (max-width: 480px) {
  .products {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
  }

  .product {
    width: 70%;
  }
}